
<p>We are so excited you are going to be visiting the Flyhouse!  In order to make your experience as fun-filled as possible we have created this page of important tips.</p>
<p>What to expect:  Think recess!  A fun, safe, supportive, non-competitive space where everyone can have a blast learning Circus arts!  We pride ourselves on making everyone who walks through our door feel welcome.  Please ask for help and say no thanks anytime.  Help us make your experience with as as fun as possible!</p>
<p>Our dress code is oh so important. Failure to follow it could seriously limit what you're able to do in class.  Please share this information with any guests you are bringing so they can have the best experience possible</p>
<p>Merchandise:  We always have some great Flyhouse swag available, and we're always getting cool new designs made!</p>
<p>Parking:  Please park in the lot across Watson or on the street.</p>
<p>Make sure you follow us on Facebook to stay up to speed on upcoming classes, workshops, special offers and events.</p>
<p>Remember, we never close for holidays or weather.  We're always here for you!</p>
<p>Everyone needs a waiver to be in the studio, and minors require a waiver signed by a parent or legal guardian</p>
<h2>See you soon!</h2>