
<section class="carousel-container" id="photos">
  <div class="carousel">
    <div class="item0">
      <figure class="carousel-item" style="display:block">
        <div class="imgwrapper"><img src="assets/images/circle_left.jpg" alt=""/></div>
        <figcaption class="text0">Private Lessons</figcaption>
      </figure>
    </div>
    <div class="item1">
      <figure class="carousel-item" style="display:block">
        <div class="imgwrapper"><img src="assets/images/circle_center.jpg" alt=""/></div>
        <figcaption class="text1 hidden">Circus Classes</figcaption>
      </figure>
    </div>
    <div class="item2">
      <figure class="carousel-item" style="display:none">
        <div class="imgwrapper"><img src="assets/images/circle_right.jpg" alt=""/></div>
        <figcaption class="text2 hidden">Group Parties</figcaption>
      </figure>
    </div>
    <div class="item3">
      <figure class="carousel-item" style="display:none">
        <div class="imgwrapper"><img src="assets/images/circle_left.jpg" alt=""/></div>
        <figcaption class="text3 hidden">Workshops</figcaption>
      </figure>
    </div>
    <div class="item4">
      <figure class="carousel-item" style="display:none">
        <div class="imgwrapper"><img src="assets/images/circle_center.jpg" alt=""/></div>
        <figcaption class="text4 hidden">Circus Classes</figcaption>
      </figure>
    </div>
    <div class="item5">
      <figure class="carousel-item" style="display:block">
        <div class="imgwrapper"><img src="assets/images/circle_right.jpg" alt=""/></div>
        <figcaption class="text5 hidden">Group Parties</figcaption>
      </figure>
    </div>
  </div>
</section>