
<p>Have you been dreaming of running away to join the circus?  The Detroit Flyhouse Circus School makes it easy to join without leaving home!</p>
<p>Our Circus School offers training for students of all ages and experience levels, from total beginners to professional circus performers.  Our curriculum includes traditional circus arts such as aerial silks, trapeze, aerial hoop, partner acrobatics, hula hoop dance, fire performance and much more.  Circus classes teach foundational circus artistry while building life-enhancing skills such as confidence, responsibility, poise, teamwork, and discipline.</p>
<p>All Detroit Flyhouse instructors undergo extensive teacher training and regular continuing education in order to stay at the top of their game and serve students of all backgrounds.  We have an amazing team and we think you'll agree.</p>
<p>Our instructors foster a body-positive environment in all of our classes. All sizes, shapes, skill levels, and ages have a home here at the Flyhouse.</p>
<p>Detroit Flyhouse Circus School students improve coordination, balance, strength, conditioning, and overall fitness in a non-competitive, supportive, and fun environment.</p>
<p>We're going on ten successful years of serving our students and community.  Come see why.  We'd love for you to visit and join the fun!</p>